[Unit]
Description=kmscon on %I
After=systemd-user-sessions.service
Before=getty.target
IgnoreOnIsolate=yes
ConditionPathExists=/dev/tty0

[Service]
ExecStart=-/usr/bin/kmscon -l --font-engine=pango --font-name="DejaVu Sans Mono" --font-size=10 --vt=%i -- /bin/login
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process

[Install]
Alias=getty.target.wants/kmscon@%I.service
